.contentContainer {
  background: linear-gradient(180deg, #004D61 0%, #FFFFFF 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 24px;
  min-height: calc(100% - 320px);
  overflow-y: auto;
  
  @media (max-width: 768px) {
    height: 100%;
    padding: 40px 60px;
  }
  
  @media (max-width: 425px) {
    padding: 40px 24px;
    height: 100%;
    overflow: hidden;
  }

  & .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 1200px;
    width: 100%;
  
    & .banner {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      @media (max-width: 768px) {
        flex-direction: column;
      }
      
      @media (max-width: 425px) {
      }
      
      & .bannerText {
        font-size: 28px;
        font-weight: 600;
        line-height: 34px;
        text-align: left;
        color: #000;
        padding-right: 80px;

        @media (max-width: 768px) {
          padding: 0px 80px;
          padding-bottom: 16px;
        }
        
        @media (max-width: 425px) {
          font-size: 25px;
          font-weight: 700;
          line-height: 30px;
          text-align: center;
          padding: 0px;
          padding-bottom: 16px;
          width: 100%;
        }
      }
    }

    & .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 16px 24px 32px 24px;
      width: 100%;
      gap: 24px;
  
      & .button {
        width: 180px;
        height: 48px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        
        @media (max-width: 768px) {
          width: 144px;
        }
      
        &.btnOpenAccount {
          background-color: #000000;
          color: #fff;
          border: none;
  
          &:hover {
            background-color: #47A138;
            transition: 0.3s;
          }
        }
        
        &.btnLogin {
          border: 2px solid #000000;
          color: #000000;
          background-color: transparent;
          
          &:hover {
            color: #fff;
            border: none;
            background-color: #000000;
            transition: 0.3s;
          }
        }
      }
    }

    & .benefitsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      & .titleText {
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        padding-bottom: 40px;

        @media (max-width: 425px) {
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
          text-align: center;
        }

      }
      
      & .iconsContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
        width: 100%;
        flex-wrap: wrap;

        @media (max-width: 425px) {
          flex-direction: column;
        }

        & .iconItemContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          gap: 16px;
          max-width: 260px;
      
          & .itemTitle {
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            text-align: center;
            color: #47A138;
          }
      
          & .itemText {
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            text-align: center;
            color: #768676;
          }
        }
      }
    }
  }
}

